<section class="about">
    <div class="container">
        <div class="about__body">
            <h2 class="about__body-title">
                О компании
            </h2>
            <p class="about__body-desc">Мы — команда профессионалов с большим опытом в области бизнес-кредитования. <br>Мы помогаем малым и средним
                предприятиям расти и развиваться, предоставляя доступные и <br>выгодные финансовые решения</p>
            <span class="about__body-span">Наши преимущества:</span>
            <div class="about__body-attr">
                <div class="about__body-attr-item">
                    <div class="about__body-attr-item-top">
                        <div class="circle"></div>
                        <span>Индивидуальный подход к каждому клиенту</span>
                    </div>
                    <p>Персонализированные решения для каждого клиента с учетом его финансовых потребностей <br>и
                        особенностей бизнеса</p>
                </div>
                <div class="about__body-attr-item">
                    <div class="about__body-attr-item-top">
                        <div class="circle"></div>
                        <span>Быстрое рассмотрение заявок</span>
                    </div>
                    <p>Оперативное принятие решений по заявкам в течение одного рабочего дня благодаря
                        автоматизированным процессам</p>
                </div>
                <div class="about__body-attr-item">
                    <div class="about__body-attr-item-top">
                        <div class="circle"></div>
                        <span>Прозрачные условия</span>
                    </div>
                    <p>Отсутствие скрытых комиссий <br>и четкое информирование <br>обо всех условиях кредитования</p>
                </div>
                <div class="about__body-attr-item">
                    <div class="about__body-attr-item-top">
                        <div class="circle"></div>
                        <span>Широкий выбор финансовых инструментов</span>
                    </div>
                    <p>Предлагаем помощь в получении кредита малому и среднему бизнесу, помощь в бухгалтерии, <br>работу
                        с криптовалютой </p>
                </div>
            </div>
        </div>
    </div>
</section>