<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.cyan-amber.min.css">

    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

    <link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">

    <link rel="stylesheet" href="../scss/style.min.css">
    <title>Бизнес Маркетинг</title>
</head>

<body>
    <header class="header">
        <div class="header__body">
            <a href="home.html" class="header__logo">
                <img src="../images/dist/header__logo.svg" alt="">
            </a>
            <div class="burger mob">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="header__menu desk">
                <ul class="header__menu-list">
                    <li class="header__menu-list-item">
                        <a href="company.html">О компании</a>
                    </li>
                    <li class="header__menu-list-item service__item">
                        Услуги
                        <div class="services__list">
                            <a href="small.html">
                                Кредит малому /  среднему бизнесу 
                            </a>
                            <a href="phisic.html">
                                Кредит физическим лицам
                            </a>
                            <a href="math.html">
                                Помощь в бухгалтерии
                            </a>
                            <a href="crypto.html">
                                Работа с криптовалютой
                            </a>
                            <a href="dop.html">
                                Дополнительный доход
                            </a>
                        </div>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="list.html">Прайс-лист</a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="contact.html">Контакты</a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="result.html">Результат работы</a>
                    </li>
                </ul>
            </nav>
            <a href="tel:+79161389902" class="header__tel desk">
                <span>+7 916 138 99 02</span>
                <p>Обратный звонок</p>
            </a>
        </div>
        <div class="header__mobile mob">
            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-list-item">
                        <a href="company.html">О компании</a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="small.html">Кредит малому / <br>среднему бизнесу </a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="phisic.html">Кредит физическим лицам</a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="math.html">Помощь в бухгалтерии</a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="crypto.html">Работа с криптовалютой</a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="dop.html">Дополнительный доход</a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="list.html">Прайс-лист</a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="contact.html">Контакты</a>
                    </li>
                    <li class="header__menu-list-item">
                        <a href="result.html">Результат работы</a>
                    </li>
                </ul>
            </nav>
            <a href="tel:+79161389902" class="header__tel">
                <span>+7 916 138 99 02</span>
                <p>Обратный звонок</p>
            </a>
        </div>
    </header>

    <section class="contact">
        <div class="container">
            <div class="contact__body">
                <h2 class="contact__body-title">
                    Контакты
                </h2>
                <div class="contact__body-block">
                    <div class="contact__body-block-info">
                        <div class="contact__body-block-info-item">
                            <p>Телефон:</p>
                            <span>+7 916 138 99 02</span>
                        </div>
                        <div class="contact__body-block-info-item">
                            <p>Электронная почта:</p>
                            <span>businesskredit30@gmail.com</span>
                        </div>
                        <div class="contact__body-block-info-item">
                            <p>Адрес офиса:</p>
                            <span>Москва,ул. Улица, д.1, офис 1</span>
                        </div>
                        <div class="contact__body-block-info-item">
                            <p>Режим работы:</p>
                            <span>
                                Пн-Пт: с 10:00 до 19:00 <br>Сб-Вс: выходные
                            </span>
                        </div>
                    </div>
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A29fad348a6d1fa15240292a438cc7c00a9b037e54cccfdcbd801f4d3dc703827&amp;source=constructor" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__body">
                <div class="footer__body-start">
                    <a href="home.html" class="footer__body-start-logo">
                        <img src="../images/dist/footer__logo.svg" alt="">
                    </a>
                    <div class="footer__body-start-copy">
                        <span>«Бизнес маркет кредит» © 2024</span>
                        <span>Политика конфиденциальности</span>
                    </div>
                </div>
                <nav class="footer__body-menu">
                    <ul class="footer__body-menu-list">
                        <li class="footer__body-menu-list-item">
                            <a href="small.html">
                                Кредит малому / <br>среднему бизнесу 
                            </a>
                        </li>
                        <li class="footer__body-menu-list-item">
                            <a href="phisic.html">
                                Кредит физическим лицам
                            </a>
                        </li>
                        <li class="footer__body-menu-list-item">
                            <a href="math.html">
                                Помощь в бухгалтерии
                            </a>
                        </li>
                        <li class="footer__body-menu-list-item">
                            <a href="crypto.html">
                                Работа с криптовалютой
                            </a>
                        </li>
                        <li class="footer__body-menu-list-item">
                            <a href="dop.html">
                                Дополнительный доход
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer__body-menu">
                    <ul class="footer__body-menu-list">
                        <li class="footer__body-menu-list-item">
                            <a href="company.html">
                                О компании
                            </a>
                        </li>
                        <li class="footer__body-menu-list-item">
                            <a href="list.html">
                                Прайс-лист
                            </a>
                        </li>
                        <li class="footer__body-menu-list-item">
                            <a href="contact.html">
                                Контакты
                            </a>
                        </li>
                        <li class="footer__body-menu-list-item">
                            <a href="result.html">
                                Результат работы
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__body-contact">
                    <a href="tel:+79161389902" class="footer__body-contact-item">
                        <span>+7 916 138 99 02</span>
                        <p>Обратный звонок</p>
                    </a>
                    <a href="mailto:businesskredit30@gmail.com" class="footer__body-contact-item">
                        <span>businesskredit30@gmail.com</span>
                        <p>Электронная почта</p>
                    </a>
                    <a href="" class="footer__body-contact-item">
                        <span>Москва,ул. Улица, д.1, офис 1</span>
                        <p>Адрес офиса</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
    <script src="../js/main.min.js"></script>
</body>

</html>