<section class="feedback">
    <img class="feedback__back" src="../images/dist/services.png" alt="">
    <img class="feedback__img   " src="../images/dist/feedback__img.png" alt="">
    <div class="container">
        <div class="feedback__body">
            <h2 class="feedback__body-title">
                Готовы начать свой путь<br> к финансовому успеху?
            </h2>
            <p>
                Оставьте заявку, чтобы получить бесплатную консультацию от нас и узнать, какие финансовые решения
                подходят именно вам
            </p>
            <form action="" class="feedback__body-form">
                <input class="feedback__body-form-input" placeholder="Ваше Имя" type="text">
                <input class="feedback__body-form-input" placeholder="Ваш номер телефона" type="text">
                <button class="feedback__body-form-btn">
                    Получить консультацию
                </button>
                <label for="checkbox" class="checkbox-label">
                    <input type="checkbox" id="checkbox" class="checkbox">
                    <span class="checkbox-view">
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 6.86207L8 11L13 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
                        </svg>                            
                    </span>
                    Даю согласие на обработку персональных данных 
                </label>
            </form>
        </div>
    </div>
</section>