<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__body-start">
                <a href="" class="footer__body-start-logo">
                    <img src="../images/dist/footer__logo.svg" alt="">
                </a>
                <div class="footer__body-start-copy">
                    <span>«Бизнес маркет кредит» © 2024</span>
                    <span>Политика конфиденциальности</span>
                </div>
            </div>
            <nav class="footer__body-menu">
                <ul class="footer__body-menu-list">
                    <li class="footer__body-menu-list-item">
                        <a href="">
                            Кредит малому / <br>среднему бизнесу 
                        </a>
                    </li>
                    <li class="footer__body-menu-list-item">
                        <a href="">
                            Кредит физическим лицам
                        </a>
                    </li>
                    <li class="footer__body-menu-list-item">
                        <a href="">
                            Помощь в бухгалтерии
                        </a>
                    </li>
                    <li class="footer__body-menu-list-item">
                        <a href="">
                            Работа с криптовалютой
                        </a>
                    </li>
                    <li class="footer__body-menu-list-item">
                        <a href="">
                            Дополнительный доход
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__body-menu">
                <ul class="footer__body-menu-list">
                    <li class="footer__body-menu-list-item">
                        <a href="">
                            О компании
                        </a>
                    </li>
                    <li class="footer__body-menu-list-item">
                        <a href="">
                            Прайс-лист
                        </a>
                    </li>
                    <li class="footer__body-menu-list-item">
                        <a href="">
                            Контакты
                        </a>
                    </li>
                    <li class="footer__body-menu-list-item">
                        <a href="">
                            Результат работы
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="footer__body-contact">
                <a href="tel:+79161389902" class="footer__body-contact-item">
                    <span>+7 916 138 99 02</span>
                    <p>Обратный звонок</p>
                </a>
                <a href="mailto:businesskredit30@gmail.com" class="footer__body-contact-item">
                    <span>businesskredit30@gmail.com</span>
                    <p>Электронная почта</p>
                </a>
                <a href="" class="footer__body-contact-item">
                    <span>Москва,ул. Улица, д.1, офис 1</span>
                    <p>Адрес офиса</p>
                </a>
            </div>
        </div>
    </div>
</footer>