<main class="main">
    <img class="main__back" src="../images/dist/main__back.png" alt="">
    <div class="container">
        <div class="main__body">
            <div class="main__body-text">
                <h1 class="main__body-text-title">
                    <span>Бизнес Маркет Кредит</span> надежный партнер  для вашего бизнеса
                </h1>
                <p>Узнайте, как мы можем помочь вам достичь ваших финансовых целей</p>
                <button class="main__body-text-btn">
                    Оставить заявку
                </button>
            </div>
            <img class="main__body-img" src="../images/dist/main__img.png" alt="">
        </div>
    </div>
</main>