<section class="partners">
    <div class="container">
        <div class="partners__body">
            <h2 class="partners__body-title">
                Наша компания<br> партнер крупных банков
            </h2>
            <div class="partners__body-block">
                <div id="part" class="splide" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <svg width="14" height="27" viewBox="0 0 14 27" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 1L13 13.5L0.5 26" stroke="#383838" />
                            </svg>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <svg width="14" height="27" viewBox="0 0 14 27" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 1L13 13.5L0.5 26" stroke="#383838" />
                            </svg>
                        </button>
                    </div>
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide partners__body-block-slide">
                                <img src="../images/dist/part/1.png" alt="">
                            </li>
                            <li class="splide__slide partners__body-block-slide">
                                <img src="../images/dist/part/2.png" alt="">
                            </li>
                            <li class="splide__slide partners__body-block-slide">
                                <img src="../images/dist/part/3.png" alt="">
                            </li>
                            <li class="splide__slide partners__body-block-slide">
                                <img src="../images/dist/part/4.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>