<section class="stage">
    <div class="container">
        <div class="stage__body">
            <h2 class="stage__body-title">
                Этапы работ
            </h2>
            <div class="stage__body-block">
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage.png" alt="">
                    <div class="stage__body-block-item-num">
                        <span>01</span>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>Первичная консультация</span>
                        <p>
                            На первом этапе мы проводим бесплатную консультацию, чтобы понять ваши потребности и
                            предложить оптимальные решения. <br><br>
                            Вы можете оставить заявку на сайте, и мы свяжемся с вами для обсуждения деталей и назначения
                            удобного времени для встречи или звонка.
                        </p>
                    </div>
                </div>
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage.png" alt="">
                    <div class="stage__body-block-item-num">
                        <span>02</span>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>Анализ и подбор решения</span>
                        <p>После консультации мы проведем детальный анализ вашей ситуации и подбирем наиболее подходящие
                            кредитные программы, услуги по бухгалтерии, варианты работы с криптовалютой или источники
                            дополнительного дохода. Мы предлагаем индивидуальные решения, которые соответствуют вашим
                            бизнес-целям и финансовым возможностям.</p>
                    </div>
                </div>
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage.png" alt="">
                    <div class="stage__body-block-item-num">
                        <span>03</span>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>Согласование условий</span>
                        <p>
                            На этом этапе мы обсуждаем предложенные варианты и согласовываем условия сотрудничества.
                            <br><br>Мы подробно объясняем все условия и отвечаем на любые вопросы, чтобы убедиться, что вы
                            полностью понимаете и согласны с предложенными условиями.
                        </p>
                    </div>
                </div>
                <div class="stage__body-block-item">
                    <img src="../images/dist/stage.png" alt="">
                    <div class="stage__body-block-item-num">
                        <span>04</span>
                    </div>
                    <div class="stage__body-block-item-text">
                        <span>Реализация услуги</span>
                        <p>После согласования всех условий мы приступаем к реализации выбранной вами услуги. Если это кредитование, то мы быстро оформляем и выдаем кредит. Если помощь в бухгалтерии — начинаем работу по ведению учета и отчетности. В случае работы с криптовалютой или создания дополнительного дохода — реализуем стратегию, согласованную с вами.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>